@model IEnumerable<targe21house.Models.House.HouseIndexViewModel>

@{
    int rowNumber = 1;
}

<div class="h1">
    Houses
</div>

<div>
    <a asp-action="create" asp-controller="house" type="submit" class="btn btn-primary">Create</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Address</th>
                <th scope="col">RoomCount</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">BuiltDate</th>
                <th scope="col">Country</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var house in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@house.Address</td>
                    <td>@house.RoomCount</td>
                    <td>@house.Size</td>
                    <td>@house.Price</td>
                    <td>@house.BuiltDate</td>
                    <td>@house.Country</td>
                    <td>
                        <a asp-action="details" asp-controller="house" asp-route-id="@house.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="house" asp-route-id="@house.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="house" asp-route-id="@house.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>